<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragments :: head(~{::title})">
    <title>课程新增</title>
</head>

<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(1)" >

</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/course/input}" class="teal active item">发布</a>
            <a href="#" th:href="@{/admin/course}" class="item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div  class="m-container m-padded-tb-big">
    <div class="ui container">                         <!--如果没id，则进行新增，若有id，则进行更新-->
        <form action="#" th:object="${course}" th:action="*{id} == null ? @{/admin/course} : @{/admin/course/{id}(id=*{id})}" method="post" class="ui form">
            <input type="hidden" name="id" th:field="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名称</label>
                    <!--
                        这里使用 th:field 来绑定属性，而不能使用 th:value，
                        因为 value 是绑定的单个数据，而 field 才是绑定的对象的属性，
                        原作者用错了，害得我直接找了一下午 bug。。。。
                    -->
                    <input type="text" name="name" placeholder="课程名称" th:field="*{courseName}">
                </div>
            </div>


            <div class="ui error message"></div> <!--显示错误信息-->

            <div class="ui negative message" th:unless="${#strings.isEmpty(msg)}">
                <i class="close icon"></i>
                <div class="header">验证失败：</div>
                <p th:text="${msg}">对不起，操作失败！</p>
            </div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
                <button type="button" id="save-btn" class="ui secondary submit button">提交</button>
            </div>

        </form>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer" >

</footer>

<th:block th:replace="admin/_fragments :: script">

</th:block>


<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $('.ui.form').form({
        fields : {
            courseName : {
                // 这个 identifier 是 <input> 标签里面
                // th:field 中的内容，而不是 name 属性
                // 的内容。。。
                identifier : 'courseName',
                rules: [{
                    type : 'empty',
                    prompt : '请输入课程名称'
                }]
            }
        }
    });


</script>
</body>
</html>
